# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Native
ios/
android/

# Build / distribution
dist/
build/
*.ipa
*.apk
*.aab

# Expo / EAS
.eas/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# TypeScript
*.tsbuildinfo